@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  font-size: 16px;
  background: #F6F5FC;
  color: #000000;
}
button {
  cursor: pointer;
}
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #283460;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4F5887;
  border-radius: 14px;
}